<div class='search-form mt-4'>
    <form method='POST' action=''>
        <div class='mb-3'>
            <label for='searchInput' class='form-label'>Enter value</label>
            <input
                type='text'
                name='q'
                class='form-control'
                id='searchInput'
                placeholder='Nguyen tuan Nghia  '
            />
        </div>
        <button type='submit' class='btn btn-primary'>Search</button>
    </form>
</div>